.App {
  text-align: center;
}

body {
  background-color: aliceblue;
}

/* MAIN SEARCH */
#searchbar {
  display: flex;
  justify-content: center;
}

/* MAIN CARDS */
.card {
  max-width: 300px;
  margin-bottom: 75px;
}

.card-img-top {
  height: 260px;
}

.row {
  justify-content: space-evenly;
}

/* DETAIL PAGE */
#searchAgain {
  margin-top: 30px;
}

#detailCardContainer {
  margin-top: 30px;
}

#detailCard {
  max-width: 400px;
}

#detailCardImg {
  height: 350px;
}

.categoryTitle {
  text-align: left;
  list-style: none;
}